a{
    text-decoration: none;
}

body{
    font-family: Montserrat;
    color: #fffafa;
    background-image: url('images/slv-bg-desktop.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

#title {
    background-color: #303030C0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(1px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 999;
    display: flex;
    justify-content: center;
}

#headerButtons {
    display: flex;
    justify-content: center;
}

#headerButtons li{
    transition: 0.3s ease;
}

#headerButtons li:hover{
    transform: scale(1.05);
}

#headerButtons li {
    list-style-type: none;
    padding: 10px 50px;
    margin: 10px;
    background-color: #fffafa30;
    border-radius: 10px;
}

#mobileMenuButton {
    visibility: hidden;
}

#mobileMenu{
    visibility: hidden;
}

#headerButtons li a{
    color: #fffafa;
}



@media screen and (max-width: 480px) {
    body {
        font-family: Montserrat;
        color: #fffafa;
        background-image: url('images/slv-bg-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
    }

    #title {
        margin: 10px;

        background-color: #303030C0;
        width: 70px;
        height: 70px;
        backdrop-filter: blur(1px);
        border-radius: 10px;

        z-index: 999;

        display: grid;
        place-items: center;
    }

    #headerButtons {
        display: none;
        padding: 0px;
    }

    #mobileMenuButton img {
        visibility: visible;
        
        width: 30px;
        height: 30px;
        filter: invert(75%) sepia(128%) saturate(1750%) hue-rotate(199deg) brightness(100%) contrast(100%);
    }

    #mobileMenu {
        background-color: #303030C0;
        margin: 10px;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        width: 75%;
        text-align: center;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        visibility: visible;
    }
    
    #mobileMenu ul {
        list-style-type: none;
        padding: 0;
    }
    
    #mobileMenu ul li {
        list-style-type: none;
        padding: 10px 50px;
        margin: 10px;
        background-color: #fffafa30;
        border-radius: 10px;
        text-align: center;
    }

    #mobileMenu ul li a{
        color: #fffafa;
    }

    #mobileMenuButtonIMG {
        transition: transform 0.3s ease;
    }
}



#main{
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#main h1{
    text-align: center;
    color: #fffafa;
    text-shadow: 0px 3px 0px #da4ad1;
    font-size: 64px;
}


#mainForm {
    display: flex;
    text-align: center;
    align-items: top;
    padding: 20px;
    background-color: #30303050;
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

#mainForm img{
    max-width: 720px;
    max-height: 720px;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    #main{
        flex: 1;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 150px;
    }

    #main h1{
        font-size: 48px;
    }

    #mainForm {
        max-width: 340px;
        flex-direction: column;
        padding: 10px;
    }

    #mainForm img {
        max-width: 340px;
        max-height: 340px;
        margin-right: 0;
        margin-bottom: 10px;
        object-fit: cover;
    }
}



#about p{
    padding-bottom: 0;
}

#about ul{
    text-align: left;
    padding-top: 3px;
}

#links{
    margin-top: 15%;
    position: flex;
    bottom: 15px;
}

#linkButton{
    transition: 0.3s ease;
}

#linkButton:hover{
    transform: scale(1.2);
}



#mainForm img{
    border-radius: 10px;
    width: 480px;
    height: auto;
    margin-right: 20px;
}

#innerForm h1 {
    font-size: 34px;
    margin-bottom: 10px;
    text-shadow: 0px 3px 0px #da4ad1;
}

#innerForm p {
    font-size: 16px;
    margin-bottom: 20px;
}

#innerForm a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

#innerForm a img {
    width: 40px;
    height: 40px;
    filter: invert(75%) sepia(128%) saturate(1750%) hue-rotate(199deg) brightness(100%) contrast(100%);
}



#footer {
    background-color: #303030C0;
    color: #fffafa;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(1px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}